* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2ebe3;
}

main {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

h1 {
    width: 95%;
}

/* Product Type */
h3 {
    font-size: .85rem;
    color: #9A9AA2;
    text-transform: uppercase;
    letter-spacing: .1875em;
}

button {
    background-color: #3D8168;
    color: white;
    display: flex;
    gap: 10px;
    border: none;
    width: 100%;
    max-width: 400px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.25rem;
    margin: 0 auto;
}

button * {
    display: flex;
    align-self: center;
    margin: 0 auto;
}

.product-container {
    background-color: #FFFFFF;
    height: 90%;
    margin: 0 1rem;
    border-radius: .625em;
}

.product-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
}

.product-desc {
    height: 55%;
    margin: 10px 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-desc h3 {
    margin-top: 1rem;
}

#desc {
    color: #7f7f8a;
    width: 95%;
}

.product-price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#sale-price {
    color: #3B7660;
    font-size: 2rem;
    font-family: 'Fraunces', serif;
}

#old-price {
    color: #7c7c8a;
    text-decoration: line-through;
}

.button-text {
    gap: 1em;
    font-size: 1rem;
    font-weight: bold;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
 }

 /* Tablet Version */
 @media (min-width: 768px) {
    /* Change the container to horizontal instead of vertical */
    .product-container {
        display: flex;
        flex-direction: row;
        height: 50%;
        width: 75%;
    }
    /* Use desktop image and fix properties */
    .product-image {
        content: url("./images/image-product-desktop.jpg");
        width: 45%;
        height: 100%;
        /* Removes top-right radius */
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    .product-desc {
        height: 95%;
        margin: 10px 2rem;
    }
 }

/* Desktop Version */
 @media (min-width: 1024px) {
    .product-container {
        display: flex;
        flex-direction: row;
        height: 50%;
        width: 65%;
        max-width: 700px;
    }
 }